.mainContacto {
    background-image: map-get($background-colores, color-lineargradient );
    padding: 50px;
    display: grid; 
    z-index:100;
    position: sticky;
    row-gap: 10px;
    justify-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    animation-name: fondo-colorido;
    animation-duration: 15s;
    
  }
  
  @keyframes fondo-colorido{
    0%   {background-color: red;}
    15%  {background-color: orange;}
    25%  {background-color: yellow;}
    50%  {background-color: green;}
    70%  {background-color: blue;}
    100% {background-color: violet;}
          
    }  

.cuerpo__Formulario { grid-template-columns: 1 / 2;
    grid-template-rows: 1 / 2;
    margin: 100px;
    flex-wrap: wrap;
    overflow: hidden;
    z-index:100;
    position: sticky;
    }

.cuerpo__Formulario--h2{
    font-size: 50px;
    flex-wrap: wrap;
    }
    
.rellenoFormulario { 
    grid-template-columns: 2 / 3;
    grid-template-rows: 1 / 2;
    margin: 10px;
    content: 50px;
    padding: 10px;
    border: #d92d69ea;
    background-color: #d92d69ea;
    color: white;
    font-family: 'Signika Negative', sans-serif;
    flex-direction: row;
    border-radius: 20px;
    font-size: 15px;
    overflow: hidden;
    flex-wrap: wrap;
    z-index:100;

    }

.rellenoFormulario__label{
    display: flex;
    border-bottom: 3px solid #f68e2d;
    background-color:#7f1a3dea ;
    color: white;
    font-size: 15px;
    margin: 5px 10px 20px 10px;
    padding: 20px;
    width: 500px;
    flex-wrap: wrap;

    }


.rellenoFormulario__label--button{
    justify-content: right;    
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color:#f9f9f9;
    border-radius:6px;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color:#666666;
    font-family:'Signika Negative', sans-serif ;
    font-size:15px;
    font-weight:bold;
    padding:6px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;    
    flex-wrap: wrap;
 }