.footer{ 
    padding: 40px 10px 90px 10px;
    background-size: cover;
    overflow: hidden;
    background-color: map-get($background-colores, color-principal );
    }

    .row{
        background-color: map-get($background-colores, color-principal );
        display:flex;
        flex-direction: row;
        }

.footer__dr{
        background-color:map-get($background-colores, color-principal );
        @include flexbox (row,space-evenly);
        color: $font-color;
        font-family: $font-family-principal;
        font-size: 20px;
        margin: 20px;
        }

.footer__logos{
        background-color:map-get($background-colores, color-principal );
        @include flexbox (row,space-around);
        padding-left: 20px;
        padding-right: 30px;
        padding-top: 20px;     
        }

.fa-brands{
        background-color: map-get($background-colores, color-principal );
        color: $font-color;
        font-size: 35px;
        }
