.cuerpoSobreNosotros{ 
    padding-top: 0px;
    background-color: #004453cb;
    }
    
    .infoSobreNosotros{
    overflow: hidden;
    }

    .cuerpo_sobrenosotrosimagen{
        @extend %parrafos-flexcenter;
        overflow: hidden;
        width: 1510px;
        content: 0px 10px 0px 10px;
        margin: 0px 5px 0px 5px;
        padding-bottom: 20px;
        }

    .cuerpo__sobreNosotros__info {
        @extend %parrafos-diseño;
        font-size: 32px;
        font-weight: 1px;
        padding: 5px 50px 5px 50px;
        margin: 5px 80px 50px 80px;
    }

    .sobreNosotros__map {
        @extend %parrafos-flexcenter;
        padding-bottom: 20px;
    }
